{% extends "layouts/base/base.njk" %}

{% block scripts_footer %}
    <!-- Page Heading -->
    <script type="text/javascript">
        //ipc
        ipcRenderer.send("begin-scrapper", {{ id_collection }});

        window.location.replace("http://localhost:3001/file/index");
    </script>
{% endblock %}