<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
    Vue.component("data-tables", {
        data : function() {
            return {
                url : ''
            };
        },
        mounted: function() {
            $(this.$el).DataTable(dataTableConf);

            ipcRenderer.on('deletion-response', (event, index) => {
                if (index == 0) {
                    window.location.href = "http://localhost:3001" + this.url;
                }
            });
        },
        methods: {
            deleteRow: function(url) {
                this.url = url;
                ipcRenderer.send('confirm-deletion', '');
            }
        }
    });


</script>